*{box-sizing: border-box;font-style: normal;}
body{background-color: aliceblue;font-family: 'Courier New', Courier, monospace;padding: auto;margin: auto;}
h1{font-size: 30px}
img{width: 150px;height: auto;}
nav{text-align: center;background-color: lightblue;}
nav ul{margin: 0 ;padding: 0 ;}
nav ul li{list-style: none;display: inline-block;width: 18%;min-width: 90px;line-height: 38px;border: solid 1px brown;}
nav ul li a{text-decoration: none;}
nav ul li.current a{color: #F33135;}
nav ul li a:hover{color: #E7DA66;}
.image-centainer{display: flex;justify-content: space-around;align-items: center;height: 100vh;}
.image-centainer img{max-width: 30%;height: auto;}
h2 h3 h4{font-size: 30px;}
