*{box-sizing: border-box;font-style: normal;}
body{background-color: aliceblue;font-family: 'Courier New', Courier, monospace;padding: auto;}
.img{width: 20px;}
h1{font-size: large;color: #ffff00;}
nav{background-color: lightblue;}